USE [master]
GO
/****** Object:  Database [FabricaTPFinal]   Script Date: 11/07/2021 16:24:08 ******/
CREATE DATABASE [FabricaTPFinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FabricaTPFinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FabricaTPFinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FabricaTPFinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FabricaTPFinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [FabricaTPFinal]SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FabricaTPFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [FabricaTPFinal]SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET ANSI_NULLS OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET ANSI_PADDING OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET ARITHABORT OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [FabricaTPFinal]SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [FabricaTPFinal]SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET  DISABLE_BROKER 
GO
ALTER DATABASE [FabricaTPFinal]SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [FabricaTPFinal]SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET RECOVERY SIMPLE 
GO
ALTER DATABASE [FabricaTPFinal]SET  MULTI_USER 
GO
ALTER DATABASE [FabricaTPFinal]SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [FabricaTPFinal]SET DB_CHAINING OFF 
GO
ALTER DATABASE [FabricaTPFinal]SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [FabricaTPFinal]SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [FabricaTPFinal]SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [FabricaTPFinal]SET QUERY_STORE = OFF
GO
USE [FabricaTPFinal]
GO
/****** Object:  Table [dbo].[FabricaTPFinal]    Script Date: 11/07/2021 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FabricaTPFinal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[modelo] [varchar](50) NOT NULL,
	[precio] [float] NOT NULL,
	[tipo] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
ALTER DATABASE [FabricaTPFinal]SET  READ_WRITE 
GO
